<div class="nav-container">
    <nav>
        <div class="logo">
            <img src="assets/logo1.svg" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="#" >Laptops</a></li>
            <li><a href="#">Desktop PCs</a></li>
            <li><a href="#">Networking Devices</a></li>
            <li><a href="#" >Printers & Scanners</a></li>
            <li><a href="#">PC Parts</a></li>
            <li><a href="#" >All Other Products</a></li>
            <li><a href="#" >Repairs</a></li>

        </ul>
        <div class="arrow">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>

        </div>
       
    </nav>
</div>
<div class="nav2">
    <a href="#">About Product</a>
</div>
<hr>





<!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->




<div class="container">
    <div class="row">
        <div class="col-7">
            <app-left-part></app-left-part>
            
    
        </div>
        <div class="col-5">
            
            
        </div>
    
    </div>

   
</div>



